@use "../foundation/breakpoints" as *;
@use "../foundation/var" as *;
body.noScroll{
  overflow: hidden;
  .l-main{
    overflow: hidden;
  }
}
.c-nav__toggle{
  position: fixed;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  border: 1px solid var(--primary-dark);
  background-color: #fff;
  z-index: 10;
  border-radius: 2px;
  height: 2rem;
  width: 2rem;
  padding: 0;
  @include breakpoints (xl){
    display:none;
  }
  div{
    position: relative;
    height: 2rem;
    width: 2rem;
  }
  span{
    width: calc(70% - 8px);
    height: 1px;
    border-radius:2px;
    background-color: var(--primary-dark);
    position:absolute;
    top:38%;
    right:4px;
    transition: all 0.2s ease;
    +span{
      top:62%;
      width: calc(100% - 8px);
    }
  }
  &.cross{
    span{
      width: calc(100% - 8px);
      transform: rotate(45deg);
      top:48%;
      +span{
        transform: rotate(-45deg);
      }
    }
  }
}
.l-sidebar{
  width: 210px;
  height: 100%;
  position: fixed;
  background-color:#fff;
  top: 0;
  left: -210px;
  z-index: 9;
  transition: all 0.4s;
  &.is-open{
    left: 0;
    box-shadow: 4px 0px 8px rgba(68, 0, 91, 0.15);
  }
  @include breakpoints (xl){
    left: 0;
    border-right: 1px solid var(--color_border);
  }
  .p-sidebar{
    width: 100%;
    height: 100%;
    padding: 1.5rem 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    &__head{
      max-width: 400px;
      margin: 1rem auto;
      @include breakpoints (xl){
        max-width: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:0 1rem 0 0;
        padding: 0 0 1rem;
        margin:0 auto;
        max-width: inherit;
      }
      .logo{
        width: 100%;
        background:url(../img/admin/logo/logo.svg) no-repeat center;
        background-size:cover;
        aspect-ratio: 8/1;
      }
      a{
        &:hover{
          opacity: .7;
        }
      }
      h1{margin-top: 8px;}
    }
    .u-align--center{
      display:none;
      position:relative;
      padding: 0 0 1rem;
      @include breakpoints (xl){
        display:flex;
      }
    }
    &__body{
      flex: auto;
      max-width: 300px;
      margin: 0 auto;
      @include breakpoints (xl){
        width: 100%;
        margin: 0;
        max-height:30rem;
      }
      >div{
        position:relative;
        a,span{
          display:flex;
          flex-wrap:wrap;
          align-items:center;
          cursor: pointer;
          padding: 1rem;
          @include breakpoints (xl){
            padding: 1rem .5rem 1rem 1rem;
          }
          svg{
            fill: var(--primary-dark);
            margin-inline-end: 0.5rem
          }
          p{
            font-weight: 500;
            line-height:1;
            font-size: 1rem;
          }
        }
        &:hover{
          a,span{
            background-color: var(--bg_dark);
            position:relative;
            svg{
              fill: var(--txt);
            }
          }
        }
        &.is-active{
          a,span{
            background-color: var(--primary-dark);
            z-index: 1;
            position:relative;
            color: #fff;
            svg{
              fill: #fff;
            }
            &:hover{
              color: #fff;
            }
          }
        }
      }
      .c-content{
        display: none;
        transition: all 0.2s;
        a{
          padding: 0.5rem 0.25rem 0.5rem 1.5rem;
          background-color:transparent;
          color: var(--txt-strong);
          box-shadow:none;
          &:hover{
            background-color:#B6EEF7;
          }
          span{
            padding: 0;
            border-radius: 0;
            margin-right: 4px;
          }
          &.office{
            span{
              background-image: url(/img/admin/shape/aside/home.svg);
            }
          }
          &.partner{
            span{
              background-image: url(/img/admin/shape/aside/partner.svg);
            }
          }
          &.cars{
            span{
              background-image: url(/img/admin/shape/aside/car.svg);
            }
          }
          &.agency{
            span{
              background-image: url(/img/admin/shape/aside/agency.svg);
            }
          }
          &.items{
            span{
              background-image: url(/img/admin/shape/aside/item.svg);
            }
          }
          &.address{
            span{
              background-image: url(/img/admin/shape/aside/address.svg);
            }
          }
        }
      }
    }
    &__foot{
      flex: 1 0 auto;
      display: flex;
      align-items: flex-end;
    }
  }
}
.c-btn--l_change{
  transform: rotate(180deg);
  position:absolute;
  top: -4px;
  right: 0px;
  background:url(../img/common/shape/arrow.svg) no-repeat center;
  background-size:cover;
  width:24px;
  aspect-ratio: 1/1;
  box-shadow: 4px 4px 10px rgba(174, 174, 192, .2), -4px -4px 8px #fff;
  border-radius:4px;
  cursor: pointer;
  &:hover{
    background-color: #fff;
  }
}
.aside__narrow{
  .c-btn--l_change{
    transform: inherit;
    right: 8px;
  }
  .l-sidebar{
    @include breakpoints (xl){
      width: 72px;
      left:0;
    }
    .p-sidebar{
      @include breakpoints (xl){
        border-radius:0 1rem 1rem 0;
      }
      &__head{
        max-width:100px;
        .logo{
          background:url(../img/admin/logo/logo_sp.svg) no-repeat center;
          background-size:cover;
          aspect-ratio: 1.15/1;
        }
      }
      .u-align--center{
        position:relative;
        padding: 1rem;
        p{
          display:none;
        }
      }
      &__body{
        > div{
          &.c-tab{
            span{
              &::after{
                @include breakpoints (xl){
                  content: none;
                }
              }
            }
          }
          a,span{
            @include breakpoints (xl){
              padding: 0.5rem;
              margin:0;
              position:relative;
              p{
                font-size: 0;
              }
            }
            &:hover{
              p{
                @include breakpoints (xl){
                  font-size: 1rem;
                  font-weight: 400;
                  border-radius: 4px;
                  padding: 4px;
                  color: #fff;
                  background-color: var(--txt-strong);
                  position: absolute;
                  top: 50%;
                  left: 3rem;
                  min-width: 100px;
                  text-align: center;
                  transform: translate(0, -50%);
                }
              }
            }
          }
          &.dashboard, &.user, &.master{
            a,span{
              &:hover{
                p{
                  min-width: 130px;
                }
              }
            }
          }
          svg{
            @include breakpoints (xl){
              margin:0;
            }
          }
          &.is-active{
            +.c-content{
              display: block;
              &:hover{
                background-color: transparent;
              }
            }
          }
        }
      }
    }
  }
}
.l-{
  &account{
    .l-sidebar{
      .dashboard{
        a,span{
          background-color: var(--primary-dark);z-index: 1;position:relative;color: #fff;
          svg{fill: #fff;}
        }
      }
    }
  }
  &request{
    .l-sidebar{
      .request{
        a,span{
          background-color: var(--primary-dark);z-index: 1;position:relative;color: #fff;
          svg{fill: #fff;}
        }
      }
    }
  }
  &settlement{
    .l-sidebar{
      .settlement{
        a,span{
          background-color: var(--primary-dark);z-index: 1;position:relative;color: #fff;
          svg{fill: #fff;}
        }
      }
    }
  }
  &user{
    .l-sidebar{
      .user{
        a,span{
          background-color: var(--primary-dark);z-index: 1;position:relative;color: #fff;
          svg{fill: #fff;}
        }
      }
    }
  }
  &post{
    .l-sidebar{
      .post{
        a,span{
          background-color: var(--primary-dark);z-index: 1;position:relative;color: #fff;
          svg{fill: #fff;}
        }
      }
    }
  }
  &contact{
    .l-sidebar{
      .contact{
        a,span{
          background-color: var(--primary-dark);z-index: 1;position:relative;color: #fff;
          svg{fill: #fff;}
        }
      }
    }
  }
  &master{
    .l-sidebar{
      .master{
        a,span{
          background-color: var(--primary-dark);z-index: 1;position:relative;color: #fff;
          svg{fill: #fff;}
        }
      }
    }
  }
  &manager{
    .l-sidebar{
      .manager{
        a,span{
          background-color: var(--primary-dark);z-index: 1;position:relative;color: #fff;
          svg{fill: #fff;}
        }
      }
    }
  }
}