@use "../foundation/breakpoints" as *;
/* ——————————————————————————————————————————————————————————————
margin
—————————————————————————————————————————————————————————————— */
.u-m0 {
  margin: 0;
}
.u-m0-auto{
  margin: 0 auto;
}

// margin-top
@for $i from 0 through 50 {
  $num: $i * 4;
  .u-mt#{$num} {
    margin-top: #{calc($num / 2)}px;
  }
}
@include breakpoints(xl) {
  @for $i from 0 through 50 {
    $num: $i * 4;
    .u-mt#{$num} {
      margin-top: #{$num}px;
    }
  }
}
// margin-bottom
@for $i from 0 through 50 {
  $num: $i * 4;
  .u-mb#{$num} {
    margin-bottom: #{calc($num / 2)}px;
  }
}
@include breakpoints(xl) {
  @for $i from 0 through 50 {
    $num: $i * 4;
    .u-mb#{$num} {
      margin-bottom: #{$num}px;
    }
  }
}