@use "../foundation/var" as *;
/* ——————————————————————————————————————————————————————————————
ニューモーフィズム
—————————————————————————————————————————————————————————————— */
.c-bulge{
  background-color:var(--bg);
  box-shadow: 7px 7px 20px rgba(174,174,192,.4), -7px -7px 1rem rgba(255,255,255, 1);
  border-radius: 1rem;
  padding: 2rem 1.5rem;
}
.c-concave{
  background-color:var(--bg);
  box-shadow: -5px -5px 5px rgba(255,255,255,.7) inset, 5px 5px 5px rgba(107, 112, 125, .1) inset;
  border-radius: 1rem;
  padding: 2rem 1.5rem;
}