@use "../foundation/var" as *;

/* ! ==================================================
- html/body
白銀比/ 1:1.414
黄金比/ 1:1.618
白金比/ 1:1.732
================================================== */
*{
  box-sizing:border-box;
  letter-spacing:.06em;

}
html {
  font-family: var(--family);
  scroll-behavior: smooth;
  scroll-padding-top: 16px;
  height: -weblit-fill-available;
  display: block;
  font-family: "Roboto", "Noto Sans JP", "Helvetica Neue", "Helvetica",
    "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo",
    sans-serif;
  font-feature-settings: "palt";
  scrollbar-gutter: stable;
}
body {
  min-height: 100vh;
  min-width:320px;
  min-height: -weblit-fill-available;
  font-size: 14px;
  background-color: var(--bg);
  width: 100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  position:relative;
  color: var(--text);
  line-height: 1.4;
}
html {
  /* Windows (全バージョン)のみ */
  &.win {
    font-feature-settings: normal;
  }
}
@supports (-ms-ime-align: auto){
  /* edgeのみ */
  html {
    font-feature-settings: normal;
  }
}
/* ! --------------------------------------------------
- text
-------------------------------------------------- */
p {
  color:var(--txt);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.34em;
  text-align: left;
  word-break: break-word;
  &.weak {
    color: var(--text-weak);
  }
  &.light {
    color: var(--text-light);
  }
}
a {  
  color:var(--base);
  word-break: break-word;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.34em;
  text-decoration: none;
  cursor: pointer;
}
strong{font-size:1.3em;}
small{font-size:0.8em;}
form {width: auto;}
::selection {
  color: var(--bg);
  background-color:var(--primary);
}
button{
  cursor: pointer;
}
