@use "../foundation/var" as *;
@use "../foundation/breakpoints" as *;
/* ! --------------------------------------------------
- errorPage
-------------------------------------------------- */
.l-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  .l-body{
    justify-content: center;
    background:url(../image/common/error/bg-sp.webp) no-repeat center;
    background-size: cover;
    @include breakpoints (md){
      background:url(../image/common/error/bg.webp) no-repeat center;
      background-size: cover;
    }
  }
  .p-frame{
    padding: 1rem;
    border-radius:1rem;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter:blur(5px);
    background-color: rgba(255,255,255, .6);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    @include breakpoints (md){
      padding: 2rem;
      border-radius:2rem;
    }
    .c-txt__xl2{
      font-size:120px;
      line-height:1;
      @include breakpoints (md){
        font-size:200px;
      }
    }
    &__head{
      margin: 0 0 1rem;
      @include breakpoints (md){
        margin: 0 0 1rem;
      }
    }
    &__body {
      text-align: center;
      &__title {
        font-size: 20px;
        font-weight: 700;
      }
      &__description {
        margin: 1rem 0 0;
      }
    }
    &__foot {
      margin: 1.5rem 0 0;
      @include breakpoints (md){
        margin: 2.5rem 0 0;
      }
    }
  } 
}