@use "../../foundation/responsive" as *;
@use "../../foundation/_var" as *;
/* ! --------------------------------------------------
- ボタン
-------------------------------------------------- */
%c-button{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 0.875rem;
	text-align: center;
	font-weight: 400;
	letter-spacing: .1em;
	line-height: 1em;
	padding: .35rem .5rem .25rem;
	background-color: var(--primary);
	color: #fff;
	border:var(--primary-light) 2px solid;
	border-radius:4px;
	height: 45px;
	transition: all 0.1s ease-in-out;
	cursor: pointer;
	svg{
		fill:#fff;
	}
	@include responsive (spWide){
		min-width: 200px;
	}
	&:hover{
		color: var(--primary);
		background-color:#fff;
		border-color:var(--primary-light);
		svg{
			fill: var(--primary);
		}
	}
}
.c-button{
	@extend %c-button;
	// サイズ
	&__lg{
    @extend %c-button;
		font-size: 1rem;
		max-width: 350px;
		width: 100%;
		@include responsive (spWide){
			height: 60px;
		}
	}
	&__md{
    @extend %c-button;
		height: 35px;
		padding: 0 0.5rem;
    min-width: 80px;
		letter-spacing: 0;
		border-width:1px;
	}
	&__min{
    @extend %c-button;
		height: 26px;
    min-width: inherit;
		border-width:1px;
		letter-spacing: 0;
    font-size: .75rem;
    width: auto;
    padding: 0.25rem 0.5rem 0.15rem;
	}
	&__wide{
    @extend %c-button;
		min-width:200px;
	}
	&__full{
    @extend %c-button;
		width:100%;
		max-width: inherit;
	}
	&__text{
		display: inline;
		font-size: 0.875rem;
		font-weight: 500;
		color:var(--txt-link);
		border-bottom: 1px dotted;
    padding:0 2px;
		
		// 追加
		border: none;
		text-decoration: underline;
		margin: 1rem;
		svg{
			fill:var(--txt-link);
		}
		&:hover{
			color: var(--primary);
			.c-icon__arrow{
				transform: translateX(4px)
			}
			svg{
				fill:var(--primary);
			}
		}
		.c-icon__arrow{
			display: inline-block;
			border-radius: 50%;
			border:#888 1px solid;
			margin-left: 4px;
			transition: all 0.2s ease-in-out;
		}
	}
	&__text--black{
		display: inline;
		font-size: 1rem;
		font-weight: 500;
		color:var(--base);
		border-bottom: 1px dotted;
    padding:0 2px;
		&:hover{
			color: var(--primary);
		}
	}
	// カラー
	&--black{
    @extend %c-button;
		border: var(--base) 1px solid;
		background-color: var(--base);
		color:#fff;
		svg{
			fill: #fff;
		}
		&:hover{
			border: var(--base) 1px solid;
			color: var(--base);
			background:#fff;
			svg{
				fill:var(--base);
			}
		}
	}
	&--white{
    @extend %c-button;
		border: white 1px solid;
		background-color:#fff;
		color: var(--base);
		svg{
			fill:var(--base);
		}
		&:hover{
			border: black 1px solid;
			background: var(--bg-light);
			svg{
				fill: #fff;
			}
		}
	}
	&--gray{
    @extend %c-button;
		background-color: #c7c7c7;
		border-color: #aaa;
		&:hover{
			color: #fff;
			background: #aaa;
			border:1px solid #aaa;
		}
	}
	&--second{
    @extend %c-button;
		background-color:var(--second);
		border-color:var(--second-light);
		color: var(--base);
		svg{
			fill:var(--base);
		}
		&:hover{
			color: var(--base);
			background-color:#fff;
			border-color:var(--second);
		}
	}
	&__line{
    @extend %c-button;
		background: transparent;
		color: var(--primary-accent);
		border: 1px solid var(--primary-accent);
		svg{
			fill:var(--primary-accent);
		}
		&:hover{
			background: var(--primary-accent);
			color: #fff;
			svg{
				fill:#fff;
			}
		}
	}
	&__line--white{
    @extend %c-button;
		border: #fff 1px solid;
		background: transparent;
		color: #fff;
		svg{
			fill:#fff;
		}
		&:hover{
			background: #fff;
			color: var(--primary);
			svg{
				fill: var(--primary);
			}
		}
	}
	&__line--black{
    @extend %c-button;
		border: #000 1px solid;
		background: transparent;
		color: #000;
		svg{
			fill: var(--base);
		}
		&:hover{
			border: #000 1px solid;
			background: #000;
			color: #fff;
			svg{
				fill: #fff;
			}
		}
	}
	&__line--gray{
    @extend %c-button;
		background: transparent;
		border-color: #888;
		color: #888;
		&:hover{
			color: #fff;
			background: #888;
			border-color: #888;
		}
	}
	&:disabled{
		cursor: auto;
		background: #eee;
		border-color: #eee;
		color: #fff;
		&:hover{
			background: #eee;
			border-color: #eee;
			color: #fff;
		}
	}
	// 形状
	&__round{
    @extend %c-button;
		border-radius: 30px;
	}
	&__back{
		font-size:13px;
		font-weight:400;
		display:block;
		padding:8px 8px 8px 16px;
		position:relative;
		color:var(--primary);
		&:before{
			content:'';
			display:block;
			position:absolute;top:12px;left:0;
			height:8px; width:8px;
			border-top:1px solid;
			border-left:1px solid;
			transform:rotate(-45deg);
		}
		&:hover{
			color:var(--accent);
		}
	}
}
.c-button__switch{
	color: var(--primary);
	background: #fff;
	border-radius: 20px 0 0 20px; 
	margin-right: 0;
	width: 100px;
	+.c-button__switch{
		border-radius: 0 20px 20px 0;
		margin-left: 0;
		margin-right: 5px;
	}
}
.c-button__switch.current{
	background: var(--primary);
	color: #fff;
}

//画面下部に固定
.p-fixBottom{
	display: flex; flex-wrap:wrap;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px 20px 20px;
	background: #fff;
	z-index: 3;
	box-shadow: 0px -3px 6px rgba(0, 100, 139, 0.1);
	>.c-button__wide{
		position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
		margin:0;
	}
}
.c-button__rise{
	position:fixed;
	bottom:16px;
	right:24px;
	border-radius: 50%;
	border:var(--primary) 1px solid;
	background:#fff;
	height:48px;
	width:48px;
	transition: all 0.2s ease-in-out;
	@include responsive (tablet){
		right:16px;
	}
	a{
		position:relative;
    height: 100%;
    width: 100%;
    display: block;
	}
	.c-icon__rise{
		position:absolute;
		top:55%;
		left:50%;
		transform:translate(-50%,-50%) rotate(-45deg);
		height:8px; width:8px;
		border-top: var(--primary) 1px solid;
		border-right: var(--primary) 1px solid;
		transition: all 0.2s ease-in-out;
		&:before{
			content: '';
			display: block;
			padding-top: 100%;
			width: 100%;
		}
	}
	&:hover{
		background: var(--primary);
		.c-icon__rise{
			border-color: #fff;
		}
	}
}
.c-btn__change{
	&.is_on{
		background-color: var(--primary-dark);
		border-color: var(--primary-dark);
		&:hover{
			background-color:#fff;
		}
	}
}