/* ! --------------------------------------------------
- イメージ
-------------------------------------------------- */
img{width:100%;}
a{
	&:has(img){
		&:hover{
			opacity: .7;
		}
	}
}
.c-image{
	background-image: url(../image/icon/icon_noimage_white.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	border-radius:8px;
	aspect-ratio: 4/3;
	&__wide{
		@extend .c-image;
		aspect-ratio: 16/9;
	}
	&__vertical{
		@extend .c-image;
		aspect-ratio: 3/4;
	}
	&__square{
    @extend .c-image;
		aspect-ratio: 1/1;
	}
	&__circle{
    @extend .c-image;
		border-radius: 50%;
		aspect-ratio: 1/1;
		min-width: 30px;
	}
	&__logo{
    @extend .c-image;
		background-size:contain;
	}
}
.on{display: block !important;}
.off{display: none !important;}
img{
	&.img--square{
		aspect-ratio: 1/1;
		object-fit: cover;
		max-width: 250px;
		border-radius: 8px;
	}
	&.img--4_3{
		aspect-ratio: 4/3;
		object-fit: cover;
		border-radius: 8px;
	}
	&.img--16_9{
		aspect-ratio: 16/9;
		object-fit: cover;
		border-radius: 8px;
	}
}