@use "../../foundation/responsive" as *;
/* ! --------------------------------------------------
- scroll
-------------------------------------------------- */
.p-scroll{
    overflow: auto;
    width: 100%;
    // p-scrollのwidth指定 変数
    $i: 1;
    @while $i <= 8 {
      &__height--#{$i}00 {
          @extend .p-scroll;
        height: (100px * $i);
      }
      &__height--#{$i}50 {
          @extend .p-scroll;
        height: (100px * $i + 50px);
      }
      $i: $i + 1;
    }
    &__inner{
        padding: 4px;
        // p-scrollのwidth指定 変数
        $i: 5;
        @while $i <= 14 {
          &--#{$i}00 {
            padding: 4px;
            min-width: (100px * $i);
          }
          $i: $i + 1;
        }
        @include responsive (tablet){
            min-width: inherit !important;
        }
        .c-icon_next{
          background-image: url(../image/icon/icon_arrow.svg);
          width:20px;
          display: block;
        }
    }
}
