.l-body{
  .swiper{
    max-width: 400px;
    width: 100%;
    img{
      background-color: var(--bg-dark);
    }
    &-button-prev,&-button-next{
      background-color: rgba($color: #fff, $alpha: 0.6);
      padding: 1rem;
      &:hover{
        background-color: rgba($color: #fff, $alpha: 1);
      }
      &:after{
        font-size: 1rem;
        color: #333;
      }
    }
    &-button{
      &-prev{
        left:0;
        right: inherit;
      }
      &-next{
        left:inherit;
        right: 0;
      }
    }
    &-pagination-bullet{
      background: rgba($color: #000000, $alpha: 0.5);
      border: 1px #fff solid;
      &-active{
        background: rgba($color: #fff, $alpha: 0.8);
      }
    }
  }
}