@use "../../foundation/responsive" as *;
@use "../../foundation/_var" as *;
/* ! ==================================================
- テキスト
================================================== */
// 擬似要素
[data-before]{
  &:before{
    content: attr(data-before)'';
    font-size: 0.6em;
    font-weight: 500;
  }
}
[data-after]{
  &:after{
    content: attr(data-after)'';
    font-size: 0.6em;
    font-weight: 500;
  }
}
%c-txt {
  color: var(--base);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.618em;
  letter-spacing: 0.05em;
}
.c-txt{
  &__xl2 {
    @extend %c-txt;
    font-size: 2rem;
    letter-spacing: .08em;
    @include responsive (spWide){
      font-size: 2.5rem;
    }
  }
  &__xl {
    @extend %c-txt;
    font-size: 1.5rem;
    @include responsive (spWide){
      font-size: 2rem;
    }
  }
  &__lg {
    @extend %c-txt;
    @include responsive (spWide){
      font-size: 1.5rem;
    }
  }
  &__md {
    @extend %c-txt;
    font-size: 14px;
    @include responsive (spWide){
      font-size: 1rem;
    }
  }
  &__sm {
    @extend %c-txt;
    font-size: 0.85rem;
    &--base {
      color: var(--base);
    }
  }
  &__xs {
    @extend %c-txt;
    font-weight: 400;
    font-size: 0.8rem;
  }
  &__sub {
    @extend %c-txt;
    color: var(--base);
    font-weight: 500;
    font-size: 0.75rem;
  }
  &__label {
    @extend %c-txt;
    font-weight: 400;
    font-size: 0.8333rem;
    line-height: 1.2em;
    letter-spacing: 0;
    display: inline-block;
  }
  &__note {
    @extend %c-txt;
    font-weight: 400;
    font-size: 0.8rem;
    letter-spacing: 0;
    display: inline-block;
  }
  &__unit {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1em;
    margin: 0 2px;
    letter-spacing: 0;
    display: inline-block;
    color: #888;
  }
  &__min {
    font-weight: 400;
    font-size: 11px;
    line-height: 1.2em;
    color: #444;
  }
  &__main {color: var(--primary);}
  &__dark {color: var(--primary-dark);}
  &__deep {color: var(--primary-accent);}
  &__accent {color: var(--primary-light);}
  &__second {color: var(--second);}
  &__second--dark {color: var(--second-dark);}
  &__second--light {color: var(--second-light);}
  &__alert {color: var(--invalid);}
  &__ok {color: var(--valid);}
  &__weak {color:var(--txt-weak);}
  &__light {color:var(--txt-light);}
  &__white {color:#fff;}
  &__height--1 {line-height: 1;}
  &__weight--100 {font-weight: 100;}
  &__weight--200 {font-weight: 200;}
  &__weight--300 {font-weight: 300;}
  &__weight--400 {font-weight: 400;}
  &__weight--700 {font-weight: 700;}
  &__weight--900 {font-weight: 900;}
  &__letter--none {letter-spacing: 0;}
  &--center {text-align: center;}
  &--right {text-align: right;line-height:1;}
  &__space--wrap {white-space: pre-wrap;}
  &--fix__before{
    text-decoration: line-through;
    opacity: .6;
  }
}
.c-italic__en{
  font-family:'times',serif;
  font-style: italic;
}

// 単位の空き
.c-unit{
  &__before{margin:0 4px 0 0;}
  &__after{margin:0 0 0 4px;}
}
// アラート分
.c-alert{
  padding: 5px 10px;
  border: var(--invalid) 1px solid;
  p{
    color:var(--invalid);
    font-size: 15px;
    text-align: center;
  }
}
%c-status{
  padding: 2px .25rem;
  font-size: .75rem;
  text-align: center;
  color: white;
  display: inline-block
}
.c-status{
  &__green{
    @extend %c-status;
    background-color: var(--ok);
  }
  &__blue{
    @extend %c-status;
    background-color: var(--primary);
  }
  &__red{
    @extend %c-status;
    background-color: var(--alert);
  }
  &__gray{
    @extend %c-status;
    color: var(--bg-light);
    background-color: var(--bg-dark);
  }
}